<div fxLayout="column" fxLayoutAlign="center center" class="marginTop">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
    class="formDecoration"
  >

    <div fxFill>
      <p fxFill class="loginHeaderTop">Enter your login details:</p>
      <mat-divider fxFill class="marginTopFormElements"></mat-divider>
    </div>


    <mat-form-field fxFill appearance="outline" class="marginTopFormElements">
      <mat-label>Username: </mat-label>
      <input type="text" name="username" matInput ngModel required/></mat-form-field
    >

    <mat-form-field fxFill appearance="outline">
      <mat-label>Password: </mat-label>
      <input type="password" name="password" matInput ngModel required/></mat-form-field
    >

    <button fxFill mat-raised-button color="primary" type="submit">Login</button>

    <div fxFill>
      <mat-divider fxFill class="marginTopFormElements"></mat-divider>
      <p fxFill class="loginHeaderBot marginTopFormElements">Don't have an account?</p>
      <p fxFill class="loginHeaderBot"><a class="registerLink" routerLink="/signup">Register here.</a></p>
    </div>
  </form>
</div>
