<div class="tab-content-wrap" fxFlex fxLayout="column nowrap" fxLayoutAlign="center start" fxLayoutGap="1em">
        <div fxFlex fxFill>
          <mat-table #table [dataSource]="reviewDataSource" matSort>
            <ng-container matColumnDef="No.">
              <mat-header-cell *matHeaderCellDef mat-sort-header disabled>No.</mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">{{ (paginatorRefOrders.pageIndex * paginatorRefOrders.pageSize) + (i + 1) }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="reviewId">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Review ID:</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.review.id }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="showpieceId">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Showpiece:</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.showpiece.naziv }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="vrsta">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Type:</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.showpiece.vrsta }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cena">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Price:</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.showpiece.cena }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="vremeObilaska">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Tour time:</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.showpiece.vremeObilaska/60 | number: '1.0-0' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="rating">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Your rating: </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.review.rating}}</mat-cell>
            </ng-container>

            <!-- if no data is found -->
            <div fxFill fxLayoutAlign="center center" *matNoDataRow style="padding: 1em;">
              <p><b>No reviews found.</b></p>
            </div>

            <ng-container matColumnDef="Edit">
              <mat-header-cell *matHeaderCellDef >Edit review</mat-header-cell>
              <mat-cell *matCellDef="let element" name="Edit" #status>
                <button color="accent" mat-raised-button (click)="editReview(element)">Edit review</button>
              </mat-cell>
            </ng-container>

            
            <mat-header-row *matHeaderRowDef="displayedColumnsOrders"></mat-header-row>
            <mat-row *matRowDef="let rows; columns: displayedColumnsOrders;"></mat-row>
          </mat-table>
        </div>

        <div fxFlex fxFill fxLayout="row nowrap" fxLayoutAlign="space-between center">
          <div fxLayout="row nowrap" fxLayoutAlign="start center">
            <p>Total number of reviews: {{ reviewDataSource.data.length }}</p>
          </div>
          <mat-form-field>
            <input matInput name="filterOrders" type="text" (keyup)="doFilterReviews($any($event.target).value)" placeholder="Search filter...">
          </mat-form-field>

          <mat-paginator #paginatorRefOrders [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 25]">
          </mat-paginator>
        </div>

        

      </div>