<div fxLayout="column" fxLayoutAlign="center center">
    <h2>Welcome to About us!</h2>
    <div>
        <p>We(Igor & Stefan) are students of the 4th year at Singidunum University in Belgrade and we have built this web app as a "Human-Computer Interaction" course final project.</p>
    </div>
    <div>
        <p>This project was developed using various technologies like Angular framework, Bootstrap, ExpressJS, Google's dialogflow etc.</p>
    </div>


    <div fxLayout="row nowrap" fxLayoutGap="10px" fxLayoutAlign="center center" style="padding: 0px 20px">
    
        <div>
            <img src="{{slika1}}" alt="img1">
        </div>
        
        <div>
            <img src="{{slika2}}" alt="img2">
        </div>
    
    </div>
</div>

