.welcome-content * {
    z-index: 1;
}

.example-spacer {
    flex: 1 1 auto;
}

.sliderContainer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.7));
    z-index: 0;
}

.carousel-item > img {
    width: 100%;
    /* height: calc(100vh - 64px); */
    height: 100vh;
}

.paddingAllAround {
    padding: 1.5em;
}

.textInTheMiddle > p {
    text-align: start;
    font-size: 1.25em;
}

.imagesInTheMiddle > img {
    border-radius: 1em;
}