<div fxFlex fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex>
      <span>Tour {{data.tour.id}} details (set for {{data.tour.dateCreated | date}}):</span>
    </div>
    <button mat-raised-button [mat-dialog-close]="false" (click)="close()">
      <mat-icon matListIcon>close</mat-icon>
    </button>
  </div>
  <mat-divider style="width: 100%;"></mat-divider>
  <div *ngIf="!(data.tour.eksponat?.size > 0)" fxFlex fxFill fxLayout="column" fxLayoutAlign="center center">
    <p>There are no showpieces in this tour yet!</p>
  </div>
  <div fxFlex fxFill fxLayout="column" fxLayoutAlign="end center">
    <mat-dialog-content fxFill class="scroll">
      <!-- <mat-accordion>
        <mat-expansion-panel *ngFor="let showpiece of data.tour.eksponat">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ showpiece.naziv }}
            </mat-panel-title>
            <mat-panel-description>{{ showpiece.vrsta }}</mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{ showpiece.opis }}</p>
          <button mat-raised-button *ngIf="data.editingEnabled" color="warn" (click)="remove(showpiece.id)">
            <mat-icon matListIcon>close</mat-icon>
          </button>
        </mat-expansion-panel> 
      </mat-accordion> -->
      <mat-list>
        <mat-list-item *ngFor="let showpiece of data.tour.eksponat" style="padding: 0.25em;">
          <mat-icon matListIcon>
            <img fxFlex src="{{showpiece.slika}}" alt="Photo" style="object-fit: contain;">
          </mat-icon>
          <h3 matLine> {{showpiece.naziv}} </h3>
          <p matLine>
            <span> {{showpiece.vrsta}} </span>
            <span class="demo-2"> -- {{showpiece.opis | stringTrunc: 60}} </span>
          </p>
          <button style="z-index: 5; margin-right: 0.25em;" mat-raised-button color="accent" (click)="goToPage(showpiece.id)">
            Go to page
          </button>
          <span *ngIf="data.editingEnabled">&nbsp;&nbsp; | &nbsp;&nbsp;</span>
          <button style="z-index: 5;" mat-raised-button *ngIf="data.editingEnabled" color="warn" (click)="remove(showpiece.id)">
            <mat-icon matListIcon>delete</mat-icon>
          </button>
          <mat-divider fxFill></mat-divider>
        </mat-list-item>
      </mat-list>

    </mat-dialog-content>
  </div>
  
  <button mat-raised-button color="primary" (click)="close()">
    Confirm
  </button>
</div>