<div fxFill fxLayout="column wrap" fxLayoutGap="10px">
    <div fxLayout="row nowrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <!-- search and sort -->
        <mat-form-field color="primary" fxFlexAlign="center" appearance="standard">
            <mat-label>Search exhibits...</mat-label>
            <input
              type="text"
              ngModel
              matInput
              placeholder="Search exhibits..."
              name="search"
              search
              #searchInput="ngModel"
              [(ngModel)]="searchValue"
              (keyup)="search()"
            />
          </mat-form-field>
          <span> &nbsp; | &nbsp; </span>
          <div>
            <table matSort (matSortChange)="sortData($event)">
              <tr>
                <th mat-sort-header="name">Name</th>&nbsp;
                <th mat-sort-header="score">Score</th>&nbsp;
                <th mat-sort-header="price">Price</th>
              </tr>
            </table>
          </div>
    </div>

    <!-- <div fxLayoutAlign="center center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div> -->

    <div fxLayout="row wrap">
        
        <div class="custom-slider" fxFlex="20%" fxLayout="column wrap" fxLayoutAlign="start center">
            <!-- kriterijumi -->
            <h3>Filter search results:</h3>
            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <p><b>Price range:</b></p>
                <ngx-slider
                [value]="minValuePrice"
                (valueChange)="minValuePrice = $event"
                [highValue]="maxValuePrice"
                (highValueChange)="maxValuePrice = $event"
                [options]="optionsPrice"
                ngModel
                (ngModelChange)="search()"
                >
                </ngx-slider>
            </div>

            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <p><b>Score:</b></p>
                <ngx-slider
                  [value]="minValueScore"
                  (valueChange)="minValueScore = $event"
                  [highValue]="maxValueScore"
                  (highValueChange)="maxValueScore = $event"
                  [options]="optionsScore"
                  ngModel
                  (ngModelChange)="search()"
                >
                </ngx-slider>
            </div>

            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <p><b>Total tour time:</b></p>
                <mat-form-field appearance="fill">
                  <mat-label>Total tour time</mat-label>
                  <mat-select [(ngModel)]="tourTimeTotal" (selectionChange)="search()">
                    <mat-option value="-1">Any amount of time</mat-option>
                    <mat-option value="2">up to 2min</mat-option>
                    <mat-option value="5">up to 5min</mat-option>
                    <mat-option value="10">up to 10min</mat-option>
                    <mat-option value="20">up to 20min</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <p><b>Country of origin:</b></p>
                <mat-form-field appearance="fill">
                  <mat-label>Country of origin</mat-label>
                  <mat-select [(ngModel)]="countryValue" (selectionChange)="search()">
                    <mat-option value="">Any origin</mat-option>
                    <mat-option *ngFor="let country of uniqueCountries" [value]="country">
                        {{country}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>


        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <div fxFlex="78%" fxLayout="row wrap" fxLayoutAlign="start start">
            <!-- postavke itd. MAT KARTICEaaa -->

            <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1em" style="margin-left: 1em;">
                <div style="width: calc(100% / 4.5); min-width: 329px; height: 450px; max-height: 450px;" class="cardContainer" fxLayout="column nowrap" fxLayoutAlign="center start" *ngFor="let item of displayedItems | paginate: { itemsPerPage: 12, currentPage: p }">
                    <mat-card fxFlex fxLayout="column nowrap" fxLayoutAlign="center center" fxFill>
                        <img fxFlex="60%" fxFill mat-card-image src="{{item.slika}}" alt="Photo" width="200px" height="300px" style="object-fit: contain; overflow: hidden;">
    
                        <mat-card-title fxFlex fxFill fxLayoutAlign="start center">
                            {{item.naziv}}
                        </mat-card-title>

                        <mat-card-content fxFlex fxFill fxLayoutAlign="start center">
                            <p>{{item.vrsta}}</p>
                        </mat-card-content>
    
                        <mat-card-content fxFlex fxFill fxLayoutAlign="end center">
                            <p class="priceText">{{item.cena | currency}}</p>
                        </mat-card-content>
    
                        <mat-card-content fxFlex fxFill fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayoutAlign="row nowrap"> 
                                <div fxLayoutAlign="center center">
                                <star-rating fxFlex
                                [value]="item.ukupnaOcena"
                                [totalstars]="5"
                                checkedcolor="#ffd740"
                                uncheckedcolor="gray"
                                size="18px"
                                readonly="true"
                                ></star-rating>
                                </div>
                                <div fxLayoutAlign="center center" class="text-align-center">
                                ({{ item.ukupnaOcena || 0 | number: '1.0-1' }})
                                </div>
                            </div>
                            <p>Tour time: <span class="tourTime">{{ item.vremeObilaska/60 | number: '1.0-0' }}min</span></p>
                        </mat-card-content>
    
                        <mat-card-actions fxFlex fxLayout="column nowrap" fxLayoutAlign="center center" fxFill fxLayoutGap="0.5em">
                            <button fxFlex="50%" fxFill mat-raised-button color="accent" (click)="addShowpieceToTour(item)">Add to tour</button>
                            <button fxFlex="50%" fxFill mat-raised-button color="primary" (click)="viewExhibitDetails(item.id)">Details</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>

        </div>

    </div>

    <div fxLayoutAlign="center center" >
        <pagination-controls (pageChange)="p = $event" class="my-pagination" style="margin-top: 2em;"></pagination-controls>
    </div>

</div>