/* .example-card {
    max-width: calc(100% / 5);
    max-height: 450px;
} */

/* .example-card:hover {
    border: 1px solid #2697e7;
    box-shadow: 1px 1px 14px darkcyan;
    animation: 0.3s;
}

mat-card {
    padding: 0% !important;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}
 */
.text-align-center {
    text-align: center;
}

img.mat-card-image {
    margin: 0;
}

.cardContainer {
    margin-top: 1em;
}

.tourTime {
    font: 1.25em sans-serif;
    font-weight: bold;
}

.priceText {
    font-weight: bold;
    font-size: 1.5em;
}

/*  
mat-card-subtitle{
    font-size:18px;
    text-align: center;
    margin: 0 !important;
}

mat-icon {
    font-size: 18px;
}

mat-card-title{
    color:rgb(0, 55, 128);
    font-size:20px;
    text-align: start;
} */

/* mat-card-content {
    min-width: 250px;
    min-height: 400px;
    width: 250px;
    height: 400px;
    overflow: hidden;
    background-image: url(https://i.imgur.com/s7SDEey.png);
} */

/* mat-card-content > img {
    width: 350px;
    height: 250px;
    object-fit: contain;
} */

.eighty-percent {
    max-width: 80%;
    flex: 0 !important;
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.truncate {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-pagination /deep/ .ngx-pagination {
    font-weight: bold;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #ffd740;
}

/* Search style */
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ffd740 !important;
}
  
/* ::ng-deep.mat-form-field-underline {
    background-color: #ffd740 !important;
}  */
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #ffd740 !important;;
}


/* sort by price style ngx-slider */
::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
    background: #ffd740 !important;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer-min, 
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer-max {
    background: #ffd740 !important;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-model-value,
::ng-deep .custom-slider .ngx-slider .ngx-slider-model-high {
    color: #ffd740 !important;
}