/* .example-card:hover {
    border: 1px solid #2697e7;
    box-shadow: 1px 1px 14px darkcyan;
    animation: 0.3s;
}
 */
.text-align-center {
    text-align: center;
}

img.mat-card-image {
    margin: 0;
}

.cardContainer {
    margin-top: 1em;
}

.tourTime {
    font: 1.25em sans-serif;
    font-weight: bold;
}

.priceText {
    font-weight: bold;
    font-size: 1.5em;
}

.eighty-percent {
    max-width: 80%;
    flex: 0 !important;
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.truncate {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-pagination /deep/ .ngx-pagination {
    font-weight: bold;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #ffd740;
}

/* Search style */
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: orange !important;
}
  
/* ::ng-deep.mat-form-field-underline {
    background-color: #ffd740 !important;
}  */
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: orange !important;;
}


/* sort by price style ngx-slider */
/* ::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
    background: orange !important;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer-min, 
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer-max {
    background: orange !important;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-model-value,
::ng-deep .custom-slider .ngx-slider .ngx-slider-model-high {
    color: orange !important;
} */

/* slim with black ticks */
::ng-deep 
    .custom-slider .ngx-slider .ngx-slider-bar {
      background: #ffcca4;
      height: 2px;
    }
    .custom-slider .ngx-slider .ngx-slider-selection {
      background: orange;
    }
::ng-deep   
    .custom-slider .ngx-slider .ngx-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto;
      bottom: 0;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
::ng-deep   
    .custom-slider .ngx-slider .ngx-slider-pointer:after {
      display: none;
    }
::ng-deep  
    .custom-slider .ngx-slider .ngx-slider-bubble {
      bottom: 14px;
    }
::ng-deep  
    .custom-slider .ngx-slider .ngx-slider-limit {
      font-weight: bold;
      color: orange;
    }
::ng-deep
    .custom-slider .ngx-slider .ngx-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffcca4;
      top: -1px;
    }
::ng-deep  
    .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
      background: orange;
    }