<div fxFill fxLayout="column wrap" fxLayoutGap="10px">
    <div fxLayout="row nowrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <!-- search and sort -->
        <mat-form-field color="primary" fxFlexAlign="center" appearance="standard">
            <mat-label>Search products...</mat-label>
            <input
              type="text"
              ngModel
              matInput
              placeholder="Search products..."
              name="search"
              search
              #searchInput="ngModel"
              [(ngModel)]="searchValue"
              (keyup)="search()"
            />
          </mat-form-field>
          <span> &nbsp; | &nbsp; </span>
          <div>
            <table matSort (matSortChange)="sortData($event)">
              <tr>
                <th mat-sort-header="name">Name</th>&nbsp;
                <th mat-sort-header="score">Score</th>&nbsp;
                <th mat-sort-header="price">Price</th>
              </tr>
            </table>
          </div>
    </div>

    <!-- <div fxLayoutAlign="center center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div> -->

    <div fxLayout="row wrap">
        
        <div class="custom-slider" fxFlex="20%" fxLayout="column wrap" fxLayoutAlign="start center" fxLayoutGap="0.5em">
            <!-- kriterijumi -->
            <h3>Filter search results:</h3>

            <mat-divider fxFlex fxFill class="eighty-percent"></mat-divider>
            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <mat-checkbox
                  [(ngModel)]="isChecked"
                  (change)="search()"
                  #chekBox
                >
                  Display only favorite types
                </mat-checkbox>
            </div>
            <mat-divider fxFlex fxFill class="eighty-percent"></mat-divider>

            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <p><b>Price range:</b></p>
                <ngx-slider
                [value]="minValuePrice"
                (valueChange)="minValuePrice = $event"
                [highValue]="maxValuePrice"
                (highValueChange)="maxValuePrice = $event"
                [options]="optionsPrice"
                ngModel
                (ngModelChange)="searchByPrice()"
                >
                </ngx-slider>
            </div>

            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <p><b>Score:</b></p>
                <ngx-slider
                  [(value)]="minValueScore"
                  [(highValue)]="maxValueScore"
                  [options]="optionsScore"
                  ngModel
                  (ngModelChange)="search()"
                >
                </ngx-slider>
            </div>

            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <p><b>Type of exhibition:</b></p>
                <mat-form-field appearance="fill">
                  <mat-label>Type of exhibition</mat-label>
                  <mat-select [(ngModel)]="typeValue" (selectionChange)="search()" [disabled]="chekBox.checked">
                    <mat-option value="any">Any type</mat-option>
                    <mat-option *ngFor="let type of allTypes" [value]="type">
                      {{ type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <p><b>Type of exhibits:</b></p>
                <mat-form-field appearance="fill">
                  <mat-label>Type of exhibits</mat-label>
                  <mat-select [(ngModel)]="showpieceTypeValue" (selectionChange)="search()" [disabled]="chekBox.checked">
                    <mat-option value="any">Any type</mat-option>
                    <mat-option *ngFor="let type of allShowpieceTypes" [value]="type">
                      {{ type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <p><b>Number of exhibits:</b></p>
                <mat-form-field appearance="fill">
                  <mat-label>Number of exhibits</mat-label>
                  <mat-select [(ngModel)]="numberOfExhibitsValue" (selectionChange)="search()">
                    <mat-option value="-1">Any number</mat-option>
                    <mat-option value="2">up to 2</mat-option>
                    <mat-option value="5">up to 5</mat-option>
                    <mat-option value="10">up to 10</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex fxFill fxLayout="column wrap" class="eighty-percent">
                <p><b>Total tour time:</b></p>
                <mat-form-field appearance="fill">
                  <mat-label>Total tour time</mat-label>
                  <mat-select [(ngModel)]="tourTimeTotal" (selectionChange)="search()">
                    <mat-option value="-1">Any amount of time</mat-option>
                    <mat-option value="2">up to 2min</mat-option>
                    <mat-option value="5">up to 5min</mat-option>
                    <mat-option value="10">up to 10min</mat-option>
                    <mat-option value="20">up to 20min</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>

            


        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <div fxFlex="78%" fxLayout="row wrap" fxLayoutAlign="start start">
            <!-- postavke itd. MAT KARTICE -->

            <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1em" style="margin-left: 1em;">
                <div style="width: calc(100% / 4.5); min-width: 329px; height: 450px; max-height: 450px;" class="cardContainer" fxLayout="column nowrap" fxLayoutAlign="center start" *ngFor="let item of displayedItems | paginate: { itemsPerPage: 12, currentPage: p }; index as i">
                    <mat-card fxFlex fxLayout="column nowrap" fxLayoutAlign="center center" fxFill style="overflow: hidden;">
                        <div fxFlex="60%" fxFill mat-card-image style="object-fit: contain; overflow: hidden; max-width: 100%;">
                            <div id="section{{i+1}}" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover" fxFlex="100%" fxFill style="object-fit: contain; overflow: hidden;">
                                
                                <!-- The slideshow/carousel -->
                                <div class="carousel-inner" #picContainer fxFlex fxFill style="object-fit: contain; overflow: hidden;">
                                  <div class="carousel-item" *ngFor="let showp of item.eksponati; index as j" fxFill style="overflow: hidden;">
                                    <img src="{{showp.slika}}" alt="slide{{j}}" fxFill style="object-fit: contain; overflow: hidden;">
                                  </div>
                                </div>
                                
                                <!-- Left and right controls/icons -->
                                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#section1" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#section1" data-bs-slide="next">
                                  <span class="carousel-control-next-icon"></span>
                                </button> -->
                                
                            </div>
                        </div>
                        <!-- <img fxFlex="60%" fxFill mat-card-image src="https://i.imgur.com/9HPf6AY.png" alt="Photo" width="200px" height="300px" style="object-fit: contain; overflow: hidden;"> -->
    
                        <mat-card-title fxFlex fxFill fxLayoutAlign="start center">
                            {{item.ime || item.id}}
                        </mat-card-title>

                        <mat-card-content fxFlex fxFill fxLayoutAlign="start center">
                            <p>{{item.vrstaPostavke}}</p>
                        </mat-card-content>
    
                        <mat-card-content fxFlex fxFill fxLayoutAlign="space-between center">
                            <span>Showpieces: {{item.eksponati.length || 0}}</span>
                            <p class="priceText">{{item.cena | currency}}</p>
                        </mat-card-content>
    
                        <mat-card-content fxFlex fxFill fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayoutAlign="row nowrap"> 
                                <div fxLayoutAlign="center center">
                                <star-rating fxFlex
                                [value]="item.prosecnaOcena || 0"
                                [totalstars]="5"
                                checkedcolor="#ffd740"
                                uncheckedcolor="gray"
                                size="18px"
                                readonly="true"
                                ></star-rating>
                                </div>
                                <div fxLayoutAlign="center center" class="text-align-center">
                                ({{ item.prosecnaOcena || 0 | number: '1.0-1' }})
                                </div>
                            </div>
                            <p>Tour time: <span class="tourTime">{{ item.procenjenoVremeObilaska/60 | number: '1.0-0' }}min</span></p>
                        </mat-card-content>
    
                        <mat-card-actions fxFlex fxLayout="column nowrap" fxLayoutAlign="center center" fxFill fxLayoutGap="0.5em">
                            <button fxFlex="50%" fxFill mat-raised-button color="accent" (click)="addExhibitToTour(item)">Add to tour</button>
                            <button fxFlex="50%" fxFill mat-raised-button color="primary" (click)="viewExhibition(item.id)">View exhibits</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>

        </div>

    </div>

    <div fxLayoutAlign="center center" >
        <pagination-controls (pageChange)="p = $event" class="my-pagination" style="margin-top: 2em;"></pagination-controls>
    </div>

</div>