a{
    text-decoration: none;
}

.appcomp {
    min-height: 100vh;
    position: relative;
}

.appcomp * {
    z-index: 1;
}

.app-content {
    position: relative;
}

.hoverPointer:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
}

.transparentBg {
    background-color: transparent !important;
    z-index: 2 !important;
}

.logo > a > img {
    height: 64px;
}

.example-spacer {
    flex: 1 1 auto;
}

.borderTopHover {
    border-top: 2px solid transparent;
}

.borderTopHover:hover {
    border-top: 2px solid coral;
}

mat-toolbar a, .titleInToolbar {
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: salmon;
}