a{
    text-decoration: none;
}

.appcomp {
    min-height: 100vh;
    position: relative;
}

.appcomp * {
    z-index: 1;
}

.app-content {
    position: relative;
}

.hoverPointer:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
}

.transparentBg {
    /* background-color: transparent !important; */
    z-index: 2 !important;
}

.heightHundred {
    height: 100%;
}

.toolbarLinks {
    align-items: center;
    display: flex;
    height: 97%;
}

.logo > a > img {
    height: 64px;
}

.example-spacer {
    flex: 1 1 auto;
}

.borderTopHover {
    border-top: 2px solid transparent;
}

@keyframes goldenLinks {
    from {color: white;}
    to {color: #ffd740;}
}

.borderTopHover:hover {
    border-top: 2px solid orange;
    color: orange;
    /* animation-name: goldenLinks;
    animation-duration: 0.3s; */
    transition: 0.2s ease-in;
}

mat-toolbar a, .titleInToolbar {
    font-size: 1.25em;
    text-transform: uppercase;
    color: white;
    /* -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: salmon; */
}

#footer{
    text-align: center;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: #3f3c47 !important;
}

.fixedToolbar {
    position: sticky;
    width: 100%;
    transition: 0.1s linear;
    top: 0px;
}

.notFixedToolbar {
    position: static;
    transition: 0.1s linear;
}

.fixedToolbarColor {
    background-color: #3f3c47 !important;
}

.notFixedToolbarColor {
    background-color: transparent;
}

.activeRouteLink {
    border-top: 2px solid orange;
    color: orange !important;
}