<div
  fxFlex
  fxFlexFill
  fxLayout="column wrap"
  class="mat-app-background appcomp"
  [ngClass]="isDarkTheme ? 'darkMode' : ''"
>
  <div fxFlex fxFlexFill class="app-content" fxLayout="column wrap">
    <mat-toolbar
      class="transparentBg"
      color="primary"
      fxLayout="row nowrap"
      fxLayoutGap="1em"
      fxLayoutAlign="start center"
      (scroll)="onScroll()"
      [ngClass]="navbarfixed&&!isWelcomePage ? 'fixedToolbar fixedToolbarColor' : 'notFixedToolbar notFixedToolbarColor' "
      [ngClass]="navbarfixed ? 'fixedToolbar fixedToolbarColor' : 'notFixedToolbar fixedToolbarColor' "
    >
      <!-- <span fxHide.gt-md (click)="sidenav.open()" fxLayoutAlign="center center">
        <mat-icon class="hoverPointer">menu</mat-icon>
      </span> -->
      <div fxFlex="33%" fxLayout="row nowrap" fxLayoutAlign="center center">
        <div class="logo">
          <a routerLink="/"><img src="../assets/logo-2-him.png" /></a>
        </div>
        <!-- <div class="logo">
          <img src="../assets/title-logo-style.png" />
        </div> -->
        <span class="titleInToolbar"> Historically Inaccurate Museum </span>
      </div>

      <span class="example-spacer"></span>

      <div fxFlex class="heightHundred" fxHide.lt-md fxLayoutGap="1em" fxLayoutAlign="center center">
        <a id="welcome" class="borderTopHover toolbarLinks"  routerLink="/"> Home </a>
        <a  
          id="catalogue"
          class="borderTopHover toolbarLinks"
          routerLink="/catalogue"
          
          >Catalogue</a
        >
        <a
          id="signup"
          class="borderTopHover toolbarLinks"
          routerLink="/signup"
          *ngIf="(korisnik$ | async) == null"
          
          >Register</a
        >
        <a
          id="login"
          class="borderTopHover toolbarLinks"
          *ngIf="(korisnik$ | async) == null as korisnik"
          routerLink="/login"
          
          >Login</a
        >
        <a id="aboutUs" class="borderTopHover toolbarLinks" routerLink="/aboutUs" >
          About us
        </a>
        <a
          id="profile"
          class="borderTopHover toolbarLinks"
          *ngIf="(korisnik$ | async) != null"
          routerLink="/profile"
          
          >Profile</a
        >
        <span *ngIf="(korisnik$ | async) != null">
          Welcome, {{ (korisnik$ | async)?.username }}
        </span>
        <a
          class="borderTopHover toolbarLinks"
          class="hoverPointer"
          *ngIf="(korisnik$ | async) != null as korisnik"
          (click)="logout()"
          >Logout</a
        >
        <div>
          <mat-slide-toggle (change)="toggleTheme()" [checked]="isDarkTheme">
            <mat-icon *ngIf="isDarkTheme">dark_mode</mat-icon>
            <mat-icon *ngIf="!isDarkTheme">light_mode</mat-icon>
          </mat-slide-toggle>
        </div>
      </div>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
    <span class="example-spacer"></span>
    <!-- footer -->
    <mat-toolbar id="footer" fxLayoutAlign="center center">
      <footer>
        Copyright &copy; Stefan Dimitrijević | Igor Marković - IČR project
      </footer>
    </mat-toolbar>
  </div>
</div>