<div fxLayout="column" fxLayoutAlign="center center" class="marginTop">
  <div fxLayout="column">
    <p>You may review and edit your personal information here:</p>
  </div>
  <form
    #forma="ngForm"
    (ngSubmit)="update(forma)"
    fxLayout="column"
    fxLayoutAlign="center center"
    class="formDecoration"
  >

    <div fxFill>
      <p fxFill class="loginHeaderTop">Your details:</p>
      <mat-divider fxFill class="marginTopFormElements"></mat-divider>
    </div>

    <mat-form-field appearance="standard">
      <mat-label>First name</mat-label>
      <input type="text" matInput [(ngModel)]="userData.ime" name="ime" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Surname</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="userData.prezime"
        name="prezime"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        [(ngModel)]="userData.password"
        name="password"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [(ngModel)]="userData.kontaktPodaci.email"
        name="email"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Phone number</mat-label>
      <input
        type="tel"
        matInput
        [(ngModel)]="userData.kontaktPodaci.telefon"
        name="telefon"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Address</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="userData.kontaktPodaci.adresa"
        name="adresa"
      />
    </mat-form-field>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Favorite exhibits</mat-label>
      <mat-chip-list  #chipList aria-label="Favorite exhibit selection . . .">
        <mat-chip
          *ngFor="let omiljenaPostavka of userData.omiljenePostavke"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(omiljenaPostavka)">
          {{omiljenaPostavka}}
          <mat-icon matChipRemove >cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="New favorite category..."
          #postavkaInput
          [formControl] = "postavkaControl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
          />

      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let filtriranaPostavka of filtriranePostavke | async" [value]="filtriranaPostavka">
          {{filtriranaPostavka}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- <input type="text" matInput [(ngModel)]="userData." name="ime" /> -->
    <!-- NOTE: postavke ^ -->
    <button fxFill mat-raised-button color="primary" type="submit">Update info</button>
  </form>
</div>